USE [master]
GO
/****** Object:  Database [OKUL_VT]    Script Date: 14.10.2022 14:08:23 ******/
CREATE DATABASE [OKUL_VT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OKUL_VT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\OKUL_VT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OKUL_VT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\OKUL_VT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OKUL_VT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OKUL_VT]
GO
USE [OKUL_VT]
GO
/****** Object:  Table [dbo].[tb_Ogrenci]    Script Date: 14.10.2022 14:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Ogrenci](
	[numara] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[dogumYili] [smallint] NOT NULL,
	[sinif] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK__tb_Ogren__FD77822002B88738] PRIMARY KEY CLUSTERED 
(
	[numara] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Ogrenci] ON 

INSERT [dbo].[tb_Ogrenci] ([numara], [ad], [soyad], [dogumYili], [sinif]) VALUES (1, N'Kemal', N'Çelik', 1980, N'D203')
SET IDENTITY_INSERT [dbo].[tb_Ogrenci] OFF
USE [master]
GO
